@page "/"

@using Blog.Blazor.Interfaces
@using Blog.Blazor.Models
@using Microsoft.AspNetCore.Components.Web

@inject IAutorService AutorService;

<PageTitle>Home</PageTitle>

<NavLink href="/int/autor/novo/">Add Autor</NavLink>
<NavLink href="/int/categoria/nova/">Add Categoria</NavLink>


@foreach (var item in autores)
{
    <img src="@item.CaminhoImagem" alt="@item.Nome" />
    <p>Autor nome: @item.Nome | Autor ID: @item.Id | <a href="/int/autor/editar/@item.Id">Edit</a></p>
    <p>@item.Cadastro</p>
}

@code {

    private IQueryable<Autor> autores;

    protected override async Task OnInitializedAsync()
    {
        autores = await AutorService.BuscarTodos();
    }
}