@page "/int/usuarios/";

@using Blog.Blazor.Interfaces
@using Blog.Blazor.Models
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@inject IJSRuntime JSRuntime;
@inject IUsuarioService UsuarioService;
@attribute [Authorize(Roles = "Administrador")]

<div class="container p-4">
    <h1 class="title">Gerenciar usuários</h1>
    <PlaceHolder Visible="usuarios != null && usuarios.Any()">
        <div class="table-container">
            <NavLink class="button is-dark is-normal is-responsive mt-4 mb-4" href="/int/usuario/novo">
                <FeatherPlusCircle Size="20" Color="#FFF" StrokeWidth="1.8f" />&nbsp; NOVO USUÁRIO
            </NavLink>
            <table class="table is-bordered is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>E-mail</th>
                        <th>Tipo</th>
                        <th>Cadastro</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <Repeater DataSource="usuarios" Context="item">
                        <ItemTemplate>
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Email</td>
                                <td>@item.Tipo</td>
                                <td>@item.Cadastro.ToShortDateString()</td>
                                <td><NavLink href="@($"int/usuario/editar/{item.Id}")"><FeatherEdit Size="20" Color="#000" StrokeWidth="1.8f" /></NavLink></td>
                                <td><NavLink @onclick="async () => await Remover(item.Id)"><FeatherTrash Size="20" Color="#000" StrokeWidth="1.8f" /></NavLink></td>
                            </tr>
                        </ItemTemplate>
                    </Repeater>
                </tbody>
            </table>
        </div>
    </PlaceHolder>
    <PlaceHolder Visible="!usuarios.Any()">
        <article class="message is-warning">
            <div class="message-body">
                No momento, não há usuários disponíveis para exibição.
                <div class="block mt-3 mb-3">
                    <NavLink href="/int/usuario/novo" class="button is-info">
                        <FeatherPlusCircle Size="20" Color="#000" StrokeWidth="1.8f" />&nbsp;Novo usuário
                    </NavLink>
                </div>
            </div>
        </article>
    </PlaceHolder>
</div>

@code {
    private IEnumerable<Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UsuarioService.BuscarTodos();
    }

    async Task Remover(Guid id)
    {

        // exibe um alerta de confirmacao
        bool confirm = await JSRuntime.InvokeAsync<bool>("confirm", "Tem certeza que deseja excluir esse usuário?");

        // se a confirmacao for false para por aqui
        if (confirm is false) return;

        // se a confirmacao for true logaliza  pelo id
        var usuario = await UsuarioService.BuscarPor(id);

        // apaga o usuario
        await UsuarioService.Apagar(usuario);

        // atualiza a lista
        usuarios = await UsuarioService.BuscarTodos();

        StateHasChanged();
    }
}